In [30]:
import pandas as pd
import numpy as np

In [45]:
a = np.array([2,4,6,8,10,12])
a.reshape((2,3))

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [26]:
nama = "Aldi" #string
umur = 22   #integer
ipk = 3.98 #float
cumlaude = True #boolean

In [2]:
print(nama)
print(umur)

Aldi
22

In [3]:
type(umur) #type adalah sebuah function untuk mengetahui dipe data dari sebuah variabel

int

In [4]:
list = ["Aldi", "Roy", "Muhammad"]
type(list)

list

In [5]:
list[1]

'Roy'

## Challange times

In [7]:
print(type("Adam"))
print(type(24))
print(type(11.3))
print(type(True))
print(type(["jawa", "Sunda"]))
print(type({"nama" : "Adam", "umur" : 22}))
print(type({"Adam", "hasan"}))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'set'>

### Dasar Operasi Tipe Data
1. penjumlahan, contoh = 5 + 5 : 10
2. pengurangan, contoh = 10 - 5 : 5
3. perkalian, contoh = 5 * 5 : 25
4. pembagian , contoh = 10 / 2 : 5
5. pangkat, contoh = 5 ** 3 : 125
6. pembagian tanpa koma, contoh = 5 // 3 : 1
7. modulo/sisa pembagian, contoh = 5 % 3 : 2

In [8]:
a = 2
b = 3

#operasi pertambahan
penjumlahan = a + b
penjumlahan

5

In [9]:
a = 2
b = 3

#operasi perkalian
perkalian = a * b
perkalian

6

In [11]:
a = 2
b = 3

#operasi pangkat
pangkat = a ** b
pangkat

8

In [13]:
a = 4
b = 1/2

#operasi akar
akar = a ** b
akar

2.0

In [15]:
a = 2
b = 3

#operasi pengecekan apakah a sama dengan b
a == b
2 == 3

False

In [17]:
a = 2
b = 3

#operasi lebih dari
a > b
2 > 3

False

### challange times 1

In [20]:
price = 10000
quantity = 350

total_revenue = price * quantity
avg_revenue = (price * quantity) / price
avg_revenue2 = (price * quantity) / quantity

print(total_revenue)
print(avg_revenue)
print(avg_revenue2)

3500000
350.0
10000.0

### challange times 2

In [22]:
#pythagoras
a = 3
b = 4
# pangkat = 2
# akar = 1/2

c = ((a ** 2) + (b ** 2)) ** (1/2)
print(c)

5.0

In [23]:
pow(5,2) #pow adalah function untuk menghitung pangkat

25

In [24]:
pow(pow(a,2) + pow(b,2), 0.5)

5.0

In [4]:
#String Operations
namaDepan = "Muhammad"
namaBelakang = "Roynaldi"
spasi = " "

nama_lengkap = namaDepan + spasi + namaBelakang
print(nama_lengkap)

Muhammad Roynaldi

In [6]:
huruBesar = 'kalimat'
huruBesar.upper()

'KALIMAT'

In [10]:
huruKecil = 'KALIMAT'
huruKecil.lower()

'kalimat'

In [11]:
kategori = 'Bakso'
kategori
kategori == 'Bakso'

True

### Challange times

In [12]:
#nomer 1
phone_number = "0821-3655-5631"
print(phone_number)
sesudah = phone_number.replace("-","")
print(f"Sebelum: {phone_number}")
print(f"Sesudah: {sesudah}")

0821-3655-5631
Sebelum: 0821-3655-5631
Sesudah: 082136555631

In [15]:
#nomer 2
text = "kkn di desa penari"
# KKN Di Desa Penari
print(text)
text[:3].upper() + " " + text[4:].title()

kkn di desa penari

'KKN Di Desa Penari'

In [16]:
#boolean/logical operation

mei = 10000
juni = 12000

mei < juni

True

In [17]:
nama1 = 'roy'
nama2 = 'aldi'

nama1 == nama2

False

In [18]:
a = 6
b = 7
c = 1

(a < b) and (a < c)

False

In [19]:
(a < b) or (a < c)

True

In [20]:
#potential target pelanggan :
# 1. Kategori tidak bernilai sepeda
# 2. Jumlah visit lebih dari sama dengan 100
# 3. Jumlah order lebih besar sama dengan >= 67

kategori1 = 'Makanan'
jumlah_order = 67
jumlah_visit = 102

#jawab
(kategori1 != 'Sepeda') and (jumlah_order >= 67) and (jumlah_visit >= 100)

True

# Perubahan tipe data

In [21]:
a = 1 #int
a = str(a) #dirubah menjadi string

b = '082136555631' # string
b = int(b) #dirubah menjadi int

c = 123.011 #float
c = int(c) #dirubah menjadi int

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'int'>

### challage time

In [22]:
#soal 1
a = 12
b = 20
c = 16

#jawab
(pow(a,2) + pow(b,2) == pow(c,2)) or \
(pow(a,2) + pow(c,2) == pow(b,2)) or \
(pow(b,2) + pow(c,2) == pow(a,2))

True

In [25]:
#soal 2
penjualan_1 = '2,000'
penjualan_2 = '1,200'
penjualan_3 = '3,200'

#jawab
p1 = penjualan_1.replace(',','')
p2 = penjualan_2.replace(',','')
p3 = penjualan_3.replace(',','')
print(p1)
print(p2)
print(p3)
p1 = int(p1)
p2 = int(p2)
p3 = int(p3)

total = p1 + p2 + p3
print(f"Total = {total}")

2000
1200
3200
Total = 6400